@font-face {
	font-family: 'Playfair Display';
	src: url(fonts/playfair_display/playfairdisplay-regular.ttf);
}

@font-face {
	font-family: 'Ubuntu Light';
	src: url(fonts/ubuntu/ubuntu-light.ttf);
	font-weight: normal;
}

body {
	font-family: 'Playfair Display', Times, serif;
	font-size: 14px;
	color: #626262;
	background-color: #fff;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
}

.head-container {
	width: 1064px;
	height: 24px;
	padding: 68px 0 68px 0;
	margin: 0 auto;
}

.logo {
	float: left;
	font-family: Inconsolata, sans-serif;
	font-size: 30px;
	line-height: 0.8;
	text-transform: uppercase;
	color: #000;
}

.menu-button {
	display: none;
}	
	
nav {
	float: right;
}

.navigator li {
	float: left;
}

.navigator a {
	padding-left: 100px;
	line-height: 1.71;
	text-transform: uppercase;
}

section {
	width: 100%;
	min-width: 1064px;
	margin-top: 160px;
}

.poster {
	width: 1064px;
	margin: 0 auto 65px auto;
}

.main-content {
	width: 920px;
	margin: 0 auto;
}

.main-content h2, .main-content span {
	margin: 30px 0 30px 0;
	font-family: 'Ubuntu Light', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #b4ad9e;
}

.main-content span {
	display: block;
}
	
.main-content h3 {
	margin-bottom: 37px;
	font-size: 30px;
	font-weight: normal;
}

.main-content p {
	line-height: 2;
}

.content-block {
	float: left;
	width: 425px;
	margin-top: 130px; 
}

.main-content div:nth-child(2n + 2) {
	clear: left;
	margin-right: 58px;
}

.main-content-2 div:nth-child(2n + 2) {
	clear: none;
	margin-right: 0;
}

.main-content-2 div:first-child {
	margin-right: 58px;	
}

.clear-fix:before, .clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.sign-up-container {
	margin: 120px 0 -30px 0;
	float: left;
	width: 100%;
	background-color: #f0f0f0;
}

.sign-up-container form {
	width: 410px;
	height: 150px;
	margin: 72px auto;
}

.sign-up-container form h4 {
	padding: 0 12px 0 12px;
	font-size: 30px;
	letter-spacing: 0.25px;
	color: #333333;
}

.sign-up-container input {
	width: 368px;
	background: none;
	border: none;
}

.sign-up-container input::-moz-placeholder {
	font-family: 'Playfair Display', Times, serif;
	font-size: 14px;
	color: #626262;
}

.sign-up-container input::-webkit-input-placeholder {
	font-family: 'Playfair Display', Times, serif;
	font-size: 14px;
	color: #626262;
}

.sign-up-container input:-ms-input-placeholder {
	font-family: 'Playfair Display', Times, serif;
	font-size: 14px;
	color: #626262;
}

.sign-up-container input[type=submit] {
	background: url(img/submit-icon.png) no-repeat;
	cursor: pointer;
	width: 32px;
	height: 17px;
	padding: 0;
	margin: 0;
}

.email-container {
	padding: 80px 0 10px 0;
	border-bottom: 1px solid #000;
}

.load-more {
	display: block;
	box-sizing: border-box;
	width: 166px;
	margin: 100px auto;
	padding: 20px 33px 20px 33px;
	font-size: 20px;
	border: 1px solid #626262;
}

footer {
	width: 100%;
	background-color: #f0f0f0;
}

.footer-content {
	width: 1064px;
	margin: 0 auto;
	padding: 40px 0 45px 0;
	color: #000;
}

.footer-content a {
	margin-right: 16px;
}

.terms_privacy {
	float: left;
}

.social {
	float: right;
	margin-right: 16px;
}

.instagram {
	width: 15px;
	height: 15px;
	background: url(img/instagram.png) no-repeat;
}

.twitter {
	width: 18px;
	height: 15px;
	background: url(img/twitter.png) no-repeat;
}

.facebook {
	width: 8px;
	height: 15px;
	background: url(img/facebook.png) no-repeat;
}

@media screen and (max-width: 1063px) {
	.head-container {
		width: 98%;
		padding: 50px 1% 50px 1%;
		margin: 0 auto;
	}

	section {
		min-width: 310px;
	}

	.poster {
		width: 100%;
		margin: 0 0 45px 0;
	}

	.poster img {
		width: 100%;
		height: auto;
	}

	.main-content {
		width: 100%;
		max-width: 920px;
	}

	.content-block {
		width: 46%;
		margin-top: 130px; 
	}

	.content-block img {
		width: 100%;
		height: auto;
	}
	
	.footer-content {
		width: 94%;

	}
}

@media screen and (max-width: 959px) {
	section {
		width: 98%;
		padding: 0 1% 0 1%;
	}
}

@media screen and (max-width: 768px) {
	.content-block {
		margin-top: 60px;
	}
	
	.main-content div:nth-child(2n+2) {
		margin-right: 38px;
	}
	
	.main-content-2 div:first-child {
		margin-right: 38px;
	}
	
	.main-content div.last {
		margin-right: 0;
	}
	
	.load-more {
		margin: 40px auto 40px auto;
	}
	
	.navigator a {
		padding-left: 60px;
	}
	
	.sign-up-container {
		margin: 60px 0 0 0;
	}
	
	.sign-up-container form {
		height: 100px;
		margin: 32px auto;
	}
	
	.email-container {
		padding: 30px 0 7px 0;
	}
}

@media screen and (max-width: 599px) {
	.main-content div.content-block {
		float: none;
		width: 100%;
		max-width: 425px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.menu-button {
		display: block;
		float: right;
		width: 21px;
		height: 21px;
		border: none;
		margin-top: 1px;
		background: url(img/menu-button.png) no-repeat;
	}
	
	.menu-button:hover {
		border: 1px solid #f0f0f0;
		border-radius: 3px;
	}
	
	.menu-button:active {
		border: 1px solid #f0f0f0;
		border-radius: 3px;
	}
		
	.head-container {
		padding: 20px 1% 20px 1%;
	}
	
	nav {
		width: 100%;
		clear: left;
		float: left;
	}
	
	.navigator {
		display: none;
	}
	
	.navigator li {
		float: none;
		background-color: #57a6ba;
		border-bottom: 1px solid #404040;
	}
	
	.navigator li:hover {
		background-color: #209bba;
	}
	
	.navigator li:active {
		background-color: #209bba;
	}	
	
	.navigator a {
		color: #404040;
		padding-left: 1%;
	}
	
	section {
		margin-top: 70px;
	}
	
	.main-content h2, .main-content span {
		margin: 18px 0 18px 0;
	}
	
	.main-content h3 {
		margin-bottom: 20px;
		font-size: 24px;
	}
	
	.sign-up-container form {
		width: 310px;
	}
	
	.sign-up-container form h4 {
		font-size: 24px;
	}
	
	.sign-up-container input {
		width: 270px;
	}
	
	.footer-content {
		padding: 20px 0 30px 0;
	}
	
	.terms_privacy {
		clear: left;
	}
	
	.sign-up-container form {
		margin: 20px auto;
	}
}